<nav id="myNavbar" class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home" >Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    
                    <li class="dropdown">
                        <a  data-toggle="dropdown" class="dropdown-toggle">Students <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                         

                            <li><a href="newstudent">New Student</a></li>
                              <li><a href="newclass">New Sector</a></li>
                            <li><a href="classStudents">Registration</a></li>
                           <!--  <li><a href="listStudiants">List Student</a></li> -->
                            <li><a href="searchStudent">Search Student</a></li>
                            <li class="divider"></li>
                            <li><a href="financeStudent">Finance</a></li>
                            <li><a href="infofinStudent">Info Finance</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Points Exam</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Teachers <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">New Teacher</a></li>
                            <li><a href="#">List Teacher</a></li>
                            <li><a href="#">Search Teacher</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Finance</a></li>
                            <li><a href="School?action=info_finance">Info Finance</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Date Exam</a></li>                          
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Employees <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">New Employer</a></li>
                              <li><a href="#">List Employer</a></li>
                                <li><a href="#">Search Employer</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Finance</a></li> 
                            <li><a href="School?action=info_finance">Info Finance</a></li>
                            
                        </ul>
                    </li>
                    
                    
                    <li><a  href="#"  data-toggle="dropdown"  class="dropdown-toggle">Contact</a></li>
                     <li><a href="#" data-toggle="dropdown"  class="dropdown-toggle">Help</a></li>
                    <li><a href="#" data-toggle="dropdown"  class="dropdown-toggle">About</a></li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Settings <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout">Log Out</a></li>
                            <li><a href="#" data-toggle="dropdown" class="dropdown-toggle">Language<b class="caret"></b></a>
                          
                            </li>
                            
                            
                         
                             
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>