
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
       xmlns:sec="http//www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <head>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <title>information Finance</title>
    <meta charset="UTF-8" />

  </head>
  
  <body class="bg-warning" >.
  	 <div class="col-md-12 col-sm-12 col-xs-12">  
      <th:block layout:replace="fragments/navigation"/>         
     			 <div class="container-fluid ">
     		 
     	<div class="panel panel-default">	
     	
     	  <h1>information Finance </h1>
</div>
       </div>
       </div>
      
</body>
</html>